# ArrowOS core functionality
on init
    export TERMINFO /system_ext/etc/terminfo

on property:sys.boot_completed=1
    # Restrict permissions to socket file
    # to hide Magisk & co.
    chmod 440 /proc/net/unix

# bugreport is triggered by holding down volume down, volume up and power
service bugreport /system/bin/dumpstate -d -p -z
    oneshot
    disabled
    keycodes 114 115 116
