type sysinit, coredomain, domain;
type sysinit_exec, exec_type, file_type;

# Allow for transition from init domain to sysinit
init_daemon_domain(sysinit)
neverallow { domain -init } sysinit:process transition;

userdebug_or_eng(`
    permissive sysinit;
')

dontaudit sysinit shell_exec:file rx_file_perms;
dontaudit sysinit toolbox_exec:file rx_file_perms;
dontaudit sysinit system_file:file rx_file_perms;
dontaudit sysinit system_file:dir r_dir_perms;
