type lineage_audio_service, system_api_service, system_server_service, service_manager_type;
type lineage_hardware_service, system_api_service, system_server_service, service_manager_type;
type lineage_livedisplay_service, system_api_service, system_server_service, service_manager_type;
type lineage_performance_service, system_api_service, system_server_service, service_manager_type;
type lineage_profile_service, system_api_service, system_server_service, service_manager_type;
type lineage_style_service, system_api_service, system_server_service, service_manager_type;
type lineage_trust_service, system_api_service, system_server_service, service_manager_type;
type lineage_weather_service, system_api_service, system_server_service, service_manager_type;
