on init
    export TERMINFO /system/etc/terminfo

on post-fs-data
    mkdir /data/ssh 0750 root shell encryption=Require
    mkdir /data/ssh/empty 0600 root shell
    mkdir /cache/recovery 0770 system cache

    # Create an additional OTA package directory that unlike /data/ota_package
    # will not be touched by GmsCore.
    mkdir /data/arrowos_updates 0770 system cache encryption=Require

    # Change permissions on fsck log so it can be added to the dropbox
    chown root log /dev/fscklogs/log
    chmod 0640 /dev/fscklogs/log

on property:sys.boot_completed=1
    # Restrict permissions to socket file
    # to hide Magisk & co.
    chmod 440 /proc/net/unix

# bugreport is triggered by holding down volume down, volume up and power
service bugreport /system/bin/dumpstate -d -p -z
    oneshot
    disabled
    keycodes 114 115 116

# Disable ril services if noril prop is set
on property:ro.radio.noril=1
    stop ims_rtp_daemon
    stop imsdatadaemon
    stop imsqmidaemon
    stop imsrcsservice
    stop ril-daemon
    stop qmuxd
    stop netmgrd

on property:persist.radio.noril=1
    setprop ro.radio.noril 1
