<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.updater.theme.black.arrow"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:targetPackage="org.lineageos.updater" android:priority="1"/>

    <application android:label="@string/updater_overlay_blackaf" android:hasCode="false"/>
</manifest>
